<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="../../../assets/img/watch1" />
        <span class="card-title">Watch</span>
      </div>
      <div class="card-content">
        <p>
          I am a very simple card. I am good at containing small bits of
          information. I am convenient because I require little markup to use
          effectively.
        </p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1"
          >Buy Now</a
        >

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat"
              >Agree</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="../../../assets/img/watch2" />
        <span class="card-title">Watch</span>
      </div>
      <div class="card-content">
        <p>
          I am a very simple card. I am good at containing small bits of
          information. I am convenient because I require little markup to use
          effectively.
        </p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
