<div class="container">
  <form class="example-form">
    <h2>Contact Us</h2>

    <div class="row">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter Name" type="text" />
    </div>

    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-list role="list">
        <mat-list-item role="listitem">Contact Num: 020202301</mat-list-item>
        <mat-list-item role="listitem"
          >Address: India, Maharashtra, Pune - 411048.</mat-list-item
        >
      </mat-list>
    </div>
  </form>
</div>

<!-- <div class="carousel">
  <a class="carousel-item" href="#one!"
    ><img src="../../../assets/img/1.jpeg"
  /></a>
  <a class="carousel-item" href="#two!"
    ><img src="../../../assets/img/2.jpeg"
  /></a>
  <a class="carousel-item" href="#three!"
    ><img src="../../../assets/img/4.jpeg"
  /></a>
  <a class="carousel-item" href="#four!"
    ><img src="../../../assets/img/6.jpeg"
  /></a>
  <a class="carousel-item" href="#five!"
    ><img src="../../../assets/img/7.jpeg"
  /></a>
</div> -->
